.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .body {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 17px;
        font-weight: 600;
        color: #000;

        .btnImg {
            width: 32px;
            height: 32px;
        }
    }

    .arrow {
        width: 24px;
        height: 24px;
    }
}